footer {
    background-color: #271c4b;
    color: #5f628b;
    font-family: acumin-pro, sans-serif;
    div {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
        max-width: 700px;
        flex-wrap: wrap;
        padding-top: 1em;
    }
    ul {
        font-size: 1em;
        text-align: left;
        width: 20%;
        line-height: 1em;
        li {
            font-size: 0.7em;
            &:first-of-type {
                padding-top: 0.5em;
            }
        }
    }
}
