.solution {
    background: $colorThemeLight;
    .main-flex {
        justify-content: center;
    }
    figure {
        background: white;
        max-width: 400px;
        width: 80vw;
        h4 {
            font-family: futura-pt, sans-serif;
            color: darken($colorThemeLight, 25%);
            font-size: 2em;
            font-weight: 100;
            margin-bottom: 0;
        }
        p {
            font-family: acumin-pro, sans-serif;
            color: $colorThemeLight;
            font-size: 0.8em;
            padding: 0 4em;
            font-weight: 500;
            margin-top: 0;
        }
    }
    article {
        width: 80%;
        max-width: 500px;
        h2 {
            @include headertextfont(3em);
            line-height: 1em;
            text-align: left;
        }
        p {
            @include headertextfont(0.9em);
            font-family: acumin-pro, sans-serif;
        }
    }
}
